.body {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  justify-content: center;
  align-content: center;
  color: aliceblue;
  font-size: 20px;
  font-family:'Times New Roman', Times, serif;  
  font-weight: 700;
  
  ;
}
